@model RegistryForFinalProject.Models.ViewModels.AccountViewModel
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>
<form asp-controller="Account">
    @if (ViewData["UsernameError"] != null)
    {
        <p class="text-danger">@ViewData["UsernameError"]</p>
    }
    @if (ViewData["EmailError"] != null)
    {
        <p class="text-danger">@ViewData["EmailError"]</p>
    }

    @if (ViewData["LoginError"] != null)
    {
        <p class="text-danger">@ViewData["LoginError"]</p>
    }
    <label action="/Account/Register" asp-for="UserName">Username: </label>
    <span class="text-danger">@Html.ValidationMessageFor(m => m.UserName)</span>
    <input asp-for="UserName" class="form-control inputSizeTwenty" />
    <label action="/Account/Register" asp-for="Email">Email: </label>
    <span class="text-danger">@Html.ValidationMessageFor(m => m.Email)</span>
    <input asp-for="Email" class="form-control inputSizeTwenty" />
    <label action="/Account/Register" asp-for="Password">Password: </label>
    <span class="text-danger">@Html.ValidationMessageFor(m => m.Password)</span>
    <input asp-for="Password" class="form-control inputSizeTwenty" type="password" />
    <label asp-for="ConfirmPassword" action="/Account/Register">Confirm Password: </label>
    <span class="text-danger">@Html.ValidationMessageFor(m => m.ConfirmPassword)</span>
    <input asp-for="ConfirmPassword" class="form-control inputSizeTwenty" type="password" />
    <br />
    <br />
    <input type="checkbox" id="AgeCheckBox" name="AgeCheckBox" />
    <label action="/Account/Register">I am above 18 years old</label>
    <br />
    <input type="checkbox" id="TermsCheckBox" name="TermsCheckBox" />
    <label action="/Account/Register">I agree with the terms of use and conditions</label>
    <br />
    <button type="submit" class="btn-primary" id="RegisterButton">Register</button>
</form>
<script src="~/js/site.js"></script>

@section MainNavigation {

    @if (HttpContextAccessor.HttpContext.Session.GetString("CurrentUser") != null)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Registry" asp-action="Registry">Registry</a>
        </li>
    }
}

@section AccountNavigation {
    @if (HttpContextAccessor.HttpContext.Session.GetString("CurrentUser") != null)
    {
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="Profile" asp-action="Profile"> My Profile</a>
        </li>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="LogOut">Log out</a>
        </li>

    }
    else
    {
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="LogIn">Log in</a>
        </li>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
        </li>
    }
}