@using CloudinaryDotNet;
@model RegistryForFinalProject.Models.ViewModels.PreviewRegistryItemsViewModel

@{
    ViewData["Title"] = "Preview Registry items";
}

<form asp-controller="Profile" asp-action="PreviewRegistryItems" formaction="post">
    <br />
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <button type="submit" class="btn btn-block btn-warning">Add to shopping cart</button>
        </div>
        <div class="col-md-4"></div>
    </div>

    <br />

    <div class="row">

        <div class="col-md-4"></div>
    </div>
    <br />
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Choose registry by date of event</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul class="list-unstyled">
                        @*@if (Model.Registries.Count > 0)
                            {
                                <li>
                                    <input type="radio" asp-for="SelectedValue" value="@Model.Registries[0].DateOfEvent" checked>
                                    <label>
                                        <strong>@Model.Registries[0].DateOfEvent</strong>
                                    </label>
                                </li>
                            }*@
                        @for (int i = 0; i < Model.Registries.Count; i++)
                        {

                            <li>
                                <input type="radio" asp-for="SelectedValue" value="@Model.Registries[i].DateOfEvent">
                                <label>
                                    <strong>@Model.Registries[i].DateOfEvent</strong>
                                </label>
                            </li>


                        }
                    </ul>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button asp-controller="Categories" asp-action="AddItemToRegistry" asp-route-itemId="@Model.Item.Id" formmethod="post" type="submit" class="btn btn-warning btn-lg" role="button">Add</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <img class="img-fluid" id="myimage" src="@string.Concat(string.Concat("http://res.cloudinary.com/teodorascloud/image/upload/",$"{Model.Item.Image1}"),".jpg")" width="450" height="250" alt="">
        </div>
        <div class="col-md-6">
            <h3 class="my-3">@Model.Item.Title</h3>

            <div class="form-group" id="rating-ability-wrapper">
                <label class="control-label" for="rating">
                    <span class="field-label-header"></span><br>
                    <span class="field-label-info"></span>
                    <input type="hidden" id="selected_rating" name="selected_rating" value="" required="required">
                </label>
                <h4 class="bold rating-header" style="">
                    <span class="selected-rating">0</span><small> / 5</small>
                </h4>
                <button type="button" class="btnrating btn btn-default btn-sm" data-attr="1" id="rating-star-1">
                    <i class="fa fa-star" aria-hidden="true"></i>
                </button>
                <button type="button" class="btnrating btn btn-default btn-sm" data-attr="2" id="rating-star-2">
                    <i class="fa fa-star" aria-hidden="true"></i>
                </button>
                <button type="button" class="btnrating btn btn-default btn-sm" data-attr="3" id="rating-star-3">
                    <i class="fa fa-star" aria-hidden="true"></i>
                </button>
                <button type="button" class="btnrating btn btn-default btn-sm" data-attr="4" id="rating-star-4">
                    <i class="fa fa-star" aria-hidden="true"></i>
                </button>
                <button type="button" class="btnrating btn btn-default btn-sm" data-attr="5" id="rating-star-5">
                    <i class="fa fa-star" aria-hidden="true"></i>
                </button>
            </div>

            <p>@Model.Item.Description</p>
            <h5 class="card-title text-warning">Quantity: 1</h5>
            <h3 class="my-3">$@Model.Item.Price</h3>
        </div>
    </div>
    <h4 class="my-4">More pictures</h4>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 mb-4">
                <a data-toggle="modal" data-target=".bootstrapmodal1"><img class="img-fluid" src="@string.Concat(string.Concat("http://res.cloudinary.com/teodorascloud/image/upload/",$"{Model.Item.Image2}"),".jpg")" width="200" height="250" alt=""></a>
                <div class="modal fade bootstrapmodal1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                <img class="img-fluid" src="@string.Concat(string.Concat("http://res.cloudinary.com/teodorascloud/image/upload/",$"{Model.Item.Image2}"),".jpg")" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 mb-4">
                <a data-toggle="modal" data-target=".bootstrapmodal2"><img class="img-fluid" src="@string.Concat(string.Concat("http://res.cloudinary.com/teodorascloud/image/upload/",$"{Model.Item.Image3}"),".jpg")" width="200" height="250" alt=""></a>
                <div class="modal fade bootstrapmodal2">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                <img class="img-fluid" src="@string.Concat(string.Concat("http://res.cloudinary.com/teodorascloud/image/upload/",$"{Model.Item.Image3}"),".jpg")" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-3 mb-4"></div>
    <div class="col-md-3 col-sm-3 mb-4"></div>
</form>

@section MainNavigation {
    @if (HttpContextAccessor.HttpContext.Session.GetString("CurrentUser") != null)
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Registry" asp-action="Registry">Registry</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Categories" asp-action="Categories">Buy</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Sell" asp-action="Sell">Sell</a>
        </li>
    }
}
@section AccountNavigation {
    @if (HttpContextAccessor.HttpContext.Session.GetString("CurrentUser") != null)
    {
        <li>
            <a class="nav-link text-light" asp-area="" asp-controller="Profile" asp-action="Profile" data-toggle="tooltip" data-placement="top" title="Profile"><i class="fas fa-user-circle fa-2x warning"></i></a>
        </li>
        <li>
            <a class="nav-link text-light" asp-area="" asp-controller="ShoppingCart" asp-action="ShoppingCart" data-toggle="tooltip" data-placement="top" title="Shopping Cart"><i class="fas fa-shopping-cart fa-2x warning"></i></a>
        </li>
        <li>
            <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="LogOut" data-toggle="tooltip" data-placement="top" title="Sign out"><i class="fas fa-sign-out-alt fa-2x"></i></a>
        </li>
    }
    else
    {
        <li>
            <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="LogIn">Sign in</a>
        </li>
        <li>
            <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
        </li>
    }
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
<script src="~/js/Rate.js"></script>
