@model RegistryForFinalProject.Models.ViewModels.ProfileViewModel
@using RegistryForFinalProject.Enums;
@{
    ViewData["Title"] = "Personal Profile";
}

<h1>Personal Profile</h1>
<form asp-controller="Profile">
    @if (ViewData["LoginError"] != null)
    {
        <p class="text-danger">@ViewData["LoginError"]</p>
    }
<div class="profileContainer">
    <div class="information">
        <h6>Information:</h6>
        <label action="/Profile/Profile" asp-for="Name">Name: </label>
        <span class="text-danger">@Html.ValidationMessageFor(m => m.Name)</span>
        <input asp-for="Name" class="form-control inputSizeTwenty" />

        <label action="/Profile/Profile" asp-for="Address">Address: </label>
        <span class="text-danger">@Html.ValidationMessageFor(m => m.Address)</span>
        <input asp-for="Address" class="form-control inputSizeTwenty" />
        <br />
        <h6>Gender:</h6>
        @Html.DropDownListFor(m => m.Gender,
                    new SelectList(Enum.GetValues(typeof(Gender))),
                    "Select Gender")
        <br />

        <br />
    </div>
    <div class="newPassword">
        <h6>Change your password:</h6>
        <label action="/Profile/Profile" asp-for="NewPassword">Current password: </label>
        <span class="text-danger">@Html.ValidationMessageFor(m => m.NewPassword)</span>
        <input asp-for="NewPassword" class="form-control inputSizeTwenty" type="password" />

        <label asp-for="ConfirmNewPassword" action="/Profile/Profile">New password: </label>
        <span class="text-danger">@Html.ValidationMessageFor(m => m.ConfirmNewPassword)</span>
        <input asp-for="ConfirmNewPassword" class="form-control inputSizeTwenty" type="password" />
    </div>
    <div class="products">
        <br />
        <a href="/Profile/Orders" class="orders">View your orders</a>
        <br />
        <a href="/Profile/Offers" class="offers">View your offers</a>
    </div>
    <br />
    <button type="submit" class="btn-primary" id="ExitButton">Save</button>
</div>
</form>
<script src="~/js/site.js"></script>