@model RegistryForFinalProject.Models.ViewModels.ProfileViewModel
@using RegistryForFinalProject.Enums;
@{
    ViewData["Title"] = "Personal Profile";
}

<h1 class="ml11">
    <span class="text-wrapper">
        <span class="line line1"></span>
        <span class="letters">Personal Profile</span>
    </span>
</h1>
<br />
<form asp-controller="Profile" asp-action="UpdateAccountInfo" formmethod="post">
    @if (this.TempData["MadeChangesToPass"] != null)
    {
        <div class="alert alert-success">@this.TempData["MadeChangesToPass"]</div>
    }
    @if (this.TempData["ErrorChanges"] != null)
    {
        <div class="alert alert-danger">@this.TempData["ErrorChanges"]</div>
    }
    @if (this.TempData["NoDataEntered"] != null)
    {
        <div class="alert alert-danger">@this.TempData["NoDataEntered"]</div>
    }
    @if (this.TempData["ErrorComplexity"] != null)
    {
        <div class="alert alert-danger">@this.TempData["ErrorComplexity"]</div>
    }
    @if (this.TempData["MatchingPassword"] != null)
    {
        <div class="alert alert-danger">@this.TempData["MatchingPassword"]</div>
    }
    @if (this.TempData["InvalidGender"] != null)
    {
        <div class="alert alert-danger">@this.TempData["InvalidGender"]</div>
    }
    <div class="card">
        <div class="card-body">
            <div class="p-3 mb-2 bg-secondary text-white"><h6>Information:</h6></div>
            <label action="/Profile/Profile" asp-for="FirstName">First name: </label>
            <input asp-for="FirstName" class="form-control input-lg col-4" />

            <label action="/Profile/Profile" asp-for="LastName">Last name: </label>
            <input asp-for="LastName" class="form-control input-lg col-4" />

            <label action="/Profile/Profile" asp-for="Address">Address: </label>
            <input asp-for="Address" class="form-control input-lg col-4" />
            <br />
            <p>Gender:</p>
            @Html.DropDownListFor(m => m.Gender,
                        new SelectList(Enum.GetValues(typeof(Gender))))
            <br />
            <br />
            <button type="submit" class="btn btn-warning btn-lg" id="ExitButton">Save</button>

            <br />
        </div>
    </div>
</form>
<form asp-controller="Profile" asp-action="UpdatePassword" formmethod="post">
    <div class="card">
        <div class="card-body">
            <div class="p-3 mb-2 bg-secondary text-white"><h6>Change your password:</h6></div>
            <label action="/Profile/Profile" asp-for="CurrentPassword">Current password: </label>
            <span class="text-danger" asp-validation-for="CurrentPassword"></span>
            <input asp-for="CurrentPassword" asp-action="ChangePassword" class="form-control input-lg col-4" type="password" />

            <label asp-for="NewPassword" action="/Profile/Profile">New password: </label>
            <span class="text-danger" asp-validation-for="NewPassword"></span>
            <input asp-for="NewPassword" class="form-control input-lg col-4" type="password" />

            <br />
            <button type="submit" class="btn btn-warning btn-lg" id="ExitButton">Save</button>
        </div>
    </div>
</form>
<div class="card">
    <div class="card-body">
        <div class="p-3 mb-2 bg-secondary text-white"><h6>Items: </h6></div>
        <br />
        <a href="/Profile/Orders" class="orders">View your Orders</a>
        <br />
        <br />
        <a href="/Profile/Offers" class="offers">View your Offers</a>
        <br />
        <br />
        <a href="/Profile/RegistryRepository" class="registries">View your Registries</a>
        <br />
        <br />
        <a href="/Profile/Shipping" class="registries">View your Shipping items</a>
    </div>
    <br />
</div>

@section MainNavigation {

    @if (HttpContextAccessor.HttpContext.Session.GetString("CurrentUser") != null)
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Registry" asp-action="Registry">Registry</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Categories" asp-action="Categories">Buy</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Sell" asp-action="Sell">Sell</a>
        </li>
    }
}

@section AccountNavigation {
    @if (HttpContextAccessor.HttpContext.Session.GetString("CurrentUser") != null)
    {
        <li>
            <a class="nav-link text-light" asp-area="" asp-controller="Profile" asp-action="Profile" data-toggle="tooltip" data-placement="top" title="Profile"><i class="fas fa-user-circle fa-2x warning"></i></a>
        </li>
        <li>
            <a class="nav-link text-light" asp-area="" asp-controller="ShoppingCart" asp-action="ShoppingCart" data-toggle="tooltip" data-placement="top" title="Shopping Cart"><i class="fas fa-shopping-cart fa-2x warning"></i></a>
        </li>
        <li>
            <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="LogOut" data-toggle="tooltip" data-placement="top" title="Sign out"><i class="fas fa-sign-out-alt fa-2x"></i></a>
        </li>

    }
    else
    {
        <li>
            <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="LogIn">Sign in</a>
        </li>
        <li>
            <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
        </li>
    }
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
<script src="~/js/pageTitle.js"></script>