@model RegistryForFinalProject.Models.ViewModels.ProfileViewModel
@using RegistryForFinalProject.Enums;
@{
    ViewData["Title"] = "Personal Profile";
}

<h1>Personal Profile</h1>
<br />
<form asp-controller="Profile" asp-action="UpdateAccountInfo" formmethod="post">
    @if (this.TempData["MadeChanges"] != null)
    {
        <div class="alert alert-success">@this.TempData["MadeChanges"]</div>
    }
    @if (this.TempData["ErrorChanges"] != null)
    {
        <div class="alert alert-danger">@this.TempData["ErrorChanges"]</div>
    }
    @if (this.TempData["NoDataEntered"] != null)
    {
        <div class="alert alert-danger">@this.TempData["NoDataEntered"]</div>
    }
    @if (this.TempData["ErrorComplexity"] != null)
    {
        <div class="alert alert-danger">@this.TempData["ErrorComplexity"]</div>
    }
    @if (this.TempData["MatchingPassword"] != null)
    {
        <div class="alert alert-danger">@this.TempData["MatchingPassword"]</div>
    }
    @if (this.TempData["InvalidGender"] != null)
    {
        <div class="alert alert-danger">@this.TempData["InvalidGender"]</div>
    }
    <div class="card">
        <div class="card-body">
            <div class="p-3 mb-2 bg-secondary text-white"><h6>Information:</h6></div>
            <label action="/Profile/Profile" asp-for="FirstName">First name: </label>
            <input asp-for="FirstName" class="form-control input-lg col-4" />

            <label action="/Profile/Profile" asp-for="LastName">Last name: </label>
            <input asp-for="LastName" class="form-control input-lg col-4" />

            <label action="/Profile/Profile" asp-for="Address">Address: </label>
            <input asp-for="Address" class="form-control input-lg col-4" />
            <br />
            <p>Gender:</p>
            @Html.DropDownListFor(m => m.Gender,
                        new SelectList(Enum.GetValues(typeof(Gender))))
            <br />
            <br />
            <button type="submit" class="btn btn-warning btn-lg" id="ExitButton">Save</button>

            <br />
        </div>
    </div>
</form>
<form asp-controller="Profile" asp-action="UpdatePassword" formmethod="post">
    <div class="card">
        <div class="card-body">
            <div class="p-3 mb-2 bg-secondary text-white"><h6>Change your password:</h6></div>
            <label action="/Profile/Profile" asp-for="CurrentPassword">Current password: </label>
            <span class="text-danger" asp-validation-for="CurrentPassword"></span>
            <input asp-for="CurrentPassword" asp-action="ChangePassword" class="form-control input-lg col-4" type="password" />

            <label asp-for="NewPassword" action="/Profile/Profile">New password: </label>
            <span class="text-danger" asp-validation-for="NewPassword"></span>
            <input asp-for="NewPassword" class="form-control input-lg col-4" type="password" />

            <br />
            <button type="submit" class="btn btn-warning btn-lg" id="ExitButton">Save</button>
        </div>
    </div>
</form>
<div class="card">
    <div class="card-body">
        <div class="p-3 mb-2 bg-secondary text-white"><h6>Items: </h6></div>
        <br />
        <a href="/Profile/Orders" class="orders">View your orders</a>
        <br />
        <br />
        <a href="/Profile/Offers" class="offers">View your offers</a>
    </div>
    <br />
</div>

    <script src="~/js/site.js"></script>

    @section MainNavigation {

        @if (HttpContextAccessor.HttpContext.Session.GetString("CurrentUser") != null)
        {
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="" asp-controller="Registry" asp-action="Registry">Registry</a>
            </li>
        }
    }

    @section AccountNavigation {
        @if (HttpContextAccessor.HttpContext.Session.GetString("CurrentUser") != null)
        {
            <li>
                <a class="nav-link text-light" asp-area="" asp-controller="Profile" asp-action="Profile"><i class="fas fa-user-circle fa-2x warning"></i></a>
            </li>
            <li>
                <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="LogOut">Sign out</a>
            </li>

        }
        else
        {
            <li>
                <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="LogIn">Sign in</a>
            </li>
            <li>
                <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
            </li>
        }
    }
