@model RegistryForFinalProject.Models.ViewModels.ProfileViewModel
@using RegistryForFinalProject.Enums;
@{
    ViewData["Title"] = "Personal Profile";
}

<h1>Personal Profile</h1>
<br />
<form asp-controller="Profile">
    @if (ViewData["LoginError"] != null)
    {
        <p class="text-danger">@ViewData["LoginError"]</p>
    }
    @*<div class="card">
        <div class="card-body">
            This is some text within a panel body.
        </div>
    </div>*@

<div class="card">
    <div class="card-body">
        <div class="p-3 mb-2 bg-secondary text-white"><h6>Information:</h6></div>
        <label action="/Profile/Profile" asp-for="FirstName">First name: </label>
        <span class="text-danger">@Html.ValidationMessageFor(m => m.FirstName)</span>
        <input asp-for="FirstName" class="form-control inputSizeTwenty" />

        <label action="/Profile/Profile" asp-for="LastName">Last name: </label>
        <span class="text-danger">@Html.ValidationMessageFor(m => m.LastName)</span>
        <input asp-for="LastName" class="form-control inputSizeTwenty" />

        <label action="/Profile/Profile" asp-for="Address">Address: </label>
        <span class="text-danger">@Html.ValidationMessageFor(m => m.Address)</span>
        <input asp-for="Address" class="form-control inputSizeTwenty" />
        <br />
        <p>Gender:</p>
        @Html.DropDownListFor(m => m.Gender,
                    new SelectList(Enum.GetValues(typeof(Gender))),
                    "Select Gender")
        <br />
        <br />
        @*<button type="submit" class="btn btn-warning btn-lg" id="ExitButton">Save</button>*@
        <a class="btn btn-warning btn-lg" data-toggle="modal" data-target=".bootstrapmodal">Save</a>
        <div class="modal fade bootstrapmodal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Changes</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>This action will make changes to your account</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning">Save changes</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <br />
    </div>
    <div class="card-body">
        <div class="p-3 mb-2 bg-secondary text-white"><h6>Change your password:</h6></div>
        <label action="/Profile/Profile" asp-for="NewPassword">Current password: </label>
        <span class="text-danger">@Html.ValidationMessageFor(m => m.NewPassword)</span>
        <input asp-for="NewPassword" class="form-control inputSizeTwenty" type="password" />

        <label asp-for="ConfirmNewPassword" action="/Profile/Profile">New password: </label>
        <span class="text-danger">@Html.ValidationMessageFor(m => m.ConfirmNewPassword)</span>
        <input asp-for="ConfirmNewPassword" class="form-control inputSizeTwenty" type="password" />

        <br />
        @*<button type="submit" class="btn btn-warning btn-lg" id="ExitButton">Save</button>*@
        <a class="btn btn-warning btn-lg" data-toggle="modal" data-target=".bootstrapmodal">Save</a>
        <div class="modal fade bootstrapmodal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Changes</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>This action will make changes to your account</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning">Save changes</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>



    </div>
    <div class="card-body">
        <div class="p-3 mb-2 bg-secondary text-white"><h6>Items: </h6></div>
            <br />
            <a href="/Profile/Orders" class="orders">View your orders</a>
            <br />
            <br />
            <a href="/Profile/Offers" class="offers">View your offers</a>
        </div>
        <br />
    </div>
    
</form>
<script src="~/js/site.js"></script>

@section MainNavigation {

    @if (HttpContextAccessor.HttpContext.Session.GetString("CurrentUser") != null)
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Registry" asp-action="Registry">Registry</a>
        </li>
    }
}

@section AccountNavigation {
    @if (HttpContextAccessor.HttpContext.Session.GetString("CurrentUser") != null)
    {
        <li>
            <a class="nav-link text-light" asp-area="" asp-controller="Profile" asp-action="Profile"> My Profile</a>
        </li>
        <li>
            <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="LogOut">Sign out</a>
        </li>

    }
    else
    {
        <li>
            <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="LogIn">Sign in</a>
        </li>
        <li>
            <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
        </li>
    }
}