@model RegistryForFinalProject.Models.ViewModels.ShoppingCartViewModel
@{
    ViewData["Title"] = "Shopping Cart";
}


<h1 class="ml11">
    <span class="text-wrapper">
        <span class="line line1"></span>
        <span class="letters">Shopping cart</span>
    </span>
</h1>
<br />
<br />
<form asp-controller="ShoppingCart" asp-action="ShoppingCart" method="post">

    @if (this.TempData["AlreadyInCart"] != null)
    {
        <div class="alert alert-danger">@this.TempData["AlreadyInCart"]</div>
    }
    @if (this.TempData["SuccessfullyPlacedOrder"] != null)
    {
        <div class="alert alert-success">@this.TempData["SuccessfullyPlacedOrder"]</div>
    }
    @if (this.TempData["NotEnoughQuantity"] != null)
    {
        <div class="alert alert-danger">@this.TempData["NotEnoughQuantity"]</div>
    }
    <div class="container">

        <table id="cart" class="table table-hover table-condensed">
            <thead>
                <tr>
                    <th style="width:50%">Product</th>
                    <th style="width:10%">Price</th>
                    <th style="width:8%">Quantity</th>
                    <th style="width:22%" class="text-center">Subtotal</th>
                    <th style="width:10%"></th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Items.Count; i++)
                {
                    <tr>
                        <td data-th="Product">
                            <div class="container">

                                <div class="row">
                                    <div class="col-sm-2 hidden-xs"><img src="@string.Concat(string.Concat("http://res.cloudinary.com/teodorascloud/image/upload/", $"{Model.Items[i].Image1}"), ".jpg")" width="100" height="100" alt="..." class="img-responsive" /></div>
                                    <div class="col-sm-10">
                                        <input type="hidden" asp-for="Items[i].Id">
                                        <h5 class="nomargin ml-5"><label for="Items[@i].Title">@Model.Items[i].Title</label></h5>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td data-th="Price">
                            <label id="@string.Concat("Price",i)">$@Model.Items[i].Price</label>
                        </td>
                        <td data-th="Quantity">
                            <input asp-for="Items[i].Quantity" type="number" id="@string.Concat("Quantity",i)" onchange="CalculateNewPrice('@i')" class="form-control text-center" value="1" min="1" >
                        </td>
                        <td data-th="Subtotal" class="text-center"><label id="@string.Concat("Subtotal",i)">$@Model.Items[i].Price</label></td>
                        <td class="actions" data-th="">
                            <button type="submit" asp-action="RemoveItem" asp-controller="ShoppingCart" action="post" asp-route-id="@Model.Items[i].Id" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                @*<tr class="visible-xs">
                        <td class="text-center"><strong>Total 1.99</strong></td>
                    </tr>*@
                <tr>
                    <td><a class="btn btn-warning" href="~/Categories/Categories" role="button"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
                    <td colspan="2" class="hidden-xs"></td>
                    <td class="hidden-xs text-center"><strong>Total $<label id="Total"></label></strong></td>
                </tr>
            </tfoot>
        </table>
    </div>

    <br />
    <br />

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4"><span class="text-danger">*</span>First Name</label>
            <span class="text-danger" asp-validation-for="FirstName"></span>
            <input asp-for="FirstName" class="form-control" id="inputEmail4">
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4"><span class="text-danger">*</span>Last Name</label>
            <span class="text-danger" asp-validation-for="LastName"></span>
            <input asp-for="LastName" class="form-control" id="inputPassword4">
        </div>
    </div>
    <div class="form-group">
        <label for="inputAddress"><span class="text-danger">*</span>Address</label>
        <span class="text-danger" asp-validation-for="Address"></span>
        <input asp-for="Address" type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div>
    <div class="form-group">
        <label for="inputAddress2">Address 2</label>
        <span class="text-danger" asp-validation-for="SecondAddres"></span>
        <input asp-for="SecondAddres" type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputCity"><span class="text-danger">*</span>City</label>
            <span class="text-danger" asp-validation-for="City"></span>
            <input asp-for="City" type="text" class="form-control" id="inputCity">
        </div>
        <div class="form-group col-md-3">
            <label for="inputState">State</label>
            <span class="text-danger" asp-validation-for="State"></span>
            <input asp-for="State" type="text" class="form-control" id="inputZip">

        </div>
        <div class="form-group col-md-3">
            <label for="inputZip"><span class="text-danger">*</span>Zip</label>
            <span class="text-danger" asp-validation-for="Zip"></span>
            <input asp-for="Zip" type="text" class="form-control" id="inputZip">
        </div>
    </div>
    <br />
    <label>Choose your payment method:</label>
    <br />
    <ul class="list-unstyled">
        <li>
            <input class="form-check-input" type="radio" asp-for="PaymentMethod" value="Easy Pay" checked>
            <label class="form-check-label" for="exampleRadios1">
                <strong>Easy Pay</strong>
            </label>
        </li>

        <li>
            <input class="form-check-input" type="radio" asp-for="PaymentMethod" value="Delivery">
            <label class="form-check-label" for="exampleRadios2">
                <strong>Delivery</strong>
            </label>
        </li>
    </ul>
    <br />
    <br />
    <button class="btn btn-success text-center" asp-controller="ShoppingCart" asp-action="ShoppingCart" formmethod="post" type="submit" role="button">Place order</button>

</form>


@section MainNavigation {

    @if (HttpContextAccessor.HttpContext.Session.GetString("CurrentUser") != null)
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Registry" asp-action="Registry">Registry</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Categories" asp-action="Categories">Buy</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Sell" asp-action="Sell">Sell</a>
        </li>
    }
}

@section AccountNavigation {
    @if (HttpContextAccessor.HttpContext.Session.GetString("CurrentUser") != null)
    {
        <li>
            <a class="nav-link text-light" asp-area="" asp-controller="Profile" asp-action="Profile" data-toggle="tooltip" data-placement="top" title="Profile"><i class="fas fa-user-circle fa-2x warning"></i></a>
        </li>
        <li>
            <a class="nav-link text-light" asp-area="" asp-controller="ShoppingCart" asp-action="ShoppingCart" data-toggle="tooltip" data-placement="top" title="Shopping Cart"><i class="fas fa-shopping-cart fa-2x warning"></i></a>
        </li>
        <li>
            <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="LogOut" data-toggle="tooltip" data-placement="top" title="Sign out"><i class="fas fa-sign-out-alt fa-2x"></i></a>
        </li>

    }
    else
    {
        <li>
            <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="LogIn">Sign in</a>
        </li>
        <li>
            <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
        </li>
    }
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="~/js/pageTitle.js"></script>
<script src="~/js/CalculatePriceAndSubtotal.js"></script>
